<body>
  <div id="subHeader2">
        <a href="https://www.juegosjuegos.com/?msclkid=cd3b5824ac3c11ecb42a28bd52b00635" target="blank" title="3DJuegos">CONTACTO</a>
  </div>
  <div id="subHeader3">
        <a href="http://midva.games/es/sobre-nosotros/?msclkid=48bdd0e5ac3d11ec8a6ca6eb8693f099" target="blank" title="3DJuegos">SOBRE NOSOTROS</a>
  </div>
  <div id="subHeader4">
        <h2>Usuario: {{mail}} </h2>
  </div>


    <div id="divMain">
        <div id="divJuegos">
            <h2>LISTADO DE JUEGOS:</h2>
            <div id="game" *ngFor="let x of games" (click)="select(x)" >
                <h1>______________________________________________________________________________________________</h1>
                <h2>Titulo: {{x.getTitulo()}} </h2> 
                <h2>Compañia: {{x.getCompania()}} </h2>
                <h2 id="vMedia"> Valoracion Media: {{x.getValoracionMedia()}} </h2>
                <span><img id="fotoGame" src={{x.getUrlImg()}}></span>
            </div>
        </div>
    </div>
            
    
</body>

