<body>
   
    <div id="divLogin">
        <div id=form>
        <h2>Login</h2><br>
        <div>
            <input type="text"  placeholder="Usuario"  [(ngModel)]="mail"/>
            <br>
             <input type="password" placeholder="Contraseña" [(ngModel)]="password"/>
        </div>
        <div class="row">
            <input type="submit"  (click)="login()" value="Iniciar Sesion"/>
            
        </div>
        <div id="error">{{errorMessage}}</div>
        </div>
    </div>   

</body>

