<body>
      <div id="subHeader1" (click)="inicio()">
            <h2>INICIO </h2>
      </div>
      <div id="subHeader2">
            <a href="https://www.juegosjuegos.com/?msclkid=cd3b5824ac3c11ecb42a28bd52b00635" target="blank" title="3DJuegos">CONTACTO</a>
      </div>
      <div id="subHeader3">
            <a href="https://www.juegosjuegos.com/?msclkid=cd3b5824ac3c11ecb42a28bd52b00635" target="blank" title="3DJuegos">SOBRE NOSOTROS</a>
      </div>
      <div id="subHeader4">
            <h2>Usuario: {{userEmail}} </h2>
      </div>
      <div id="divLogin">
            <span><img id="fotoGame" src={{urlImgGame}}></span>
            <h2>Titulo:</h2>
            <input type="text"  placeholder={{titulo}} readonly/><br>
            <h2>Compañia:</h2>
            <input type="text"  placeholder={{compania}} readonly/><br>
            <h2>Valoracion Media:</h2>
            <input type="text"  placeholder={{vMedia}} readonly/>
            <h2>Id:</h2>
            <input type="text"  placeholder={{id}} readonly/><br>
            
</div>
    
</body>

