#cabecera {
    box-shadow: 10px 1px 100px #021022;
    background: -webkit-linear-gradient(50deg, rgb(252, 252, 252) , rgb(162, 233, 233), rgb(14, 104, 104));
    position: fixed;
    z-index: 5;
    width: 99%;
    height: 75px;
    top: 0px;
    left: 0px;
    background-color: rgb(69, 192, 192);
    text-align: center;
    font-family: "Georgia";
    font-size: 40px;
    padding-top: 25px;
    border: 5px solid rgb(3, 13, 73);
}


.contenido {
    
    font-family: "Verdana";
    text-align: center;
    position: relative;
    width: 94%;
    background-color: rgb(255, 255, 255);
    top: 110px;
    left: 3%;
    right: 3%;
    padding-bottom: 25px;

}

.parteizda {
    border: 2px solid rgba(0, 0, 0, 0.973);
    position: relative;
    text-align: center;
    width: 70%;
    background-color: rgb(162, 233, 233);
    padding-bottom: 25px;
 
}

.partedcha {
    border: 2px solid rgba(0, 0, 0, 0.973);
    top: 20px;
    position: absolute;
    text-align: center;
    top: 0px;
    left: 70%;
    width: 29%;
    bottom: 25px;
    padding-bottom: 25px;
    font-family: "Verdana";
    background-color: rgb(14, 104, 104);
    padding-bottom: 25px;
}


.parrafopequeño {}

h2 {
    color: rgb(9, 68, 68);
    text-align: center;
    font: 2.5em Arial;
}

h3 {
    color: rgb(49, 51, 49);
    text-align: left;
    text-indent: 20px;
    font: 1.8em Verdana;
}

ul {
    font: 1.5em Arial;
}

h4 {
    color: rgb(8, 12, 9);
    text-align: left;
    text-indent: 20px;
    font: 1.5em Arial;
}

h5 {
    color: rgb(162, 233, 233);
    text-align: center;
    text-indent: 20px;
    font: 1.5em Verdana;
}

p {
    font: 1.3em Verdana;
}

@media screen and (max-width: 1200px) {
    .contenido {
        left: 0%;
        width: 99%;

    }
    .parteizda {
        width: 100%;
        left:0px;
        padding-bottom:1300px;
    }
    .partedcha {
        top: 1550px;
        left:0px;
        width: 100%;
        padding-bottom: 100px;
    }
}
