
#divLogin{
    
    background-color: rgb(146, 228, 160);
    padding-top: 15%;
    padding-bottom: 220px;
    padding-left: 40%;
    }

#error{
 color:red;
}

*{box-sizing:border-box;}

#form{
	width:250px;
	padding:16px;
	border-radius:10px;
	background-color:rgb(194, 235, 196);
}

#form input{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

