<body>
      <div id="subHeader1" (click)="inicio()">
            <h2>INICIO </h2>
      </div>
      <div id="subHeader2" (click)="contacto()">
            <h2>CONTACTO</h2>
      </div>
      <div id="subHeader3"  (click)="sobreNosotros()">
            <h2>SOBRE NOSOTROS</h2>
      </div>
      <div id="subHeader4">
            <h2>Usuario: {{userEmail}} </h2>
      </div>
      <div id="divLogin">
            <span><img id="fotoGame" src={{urlImgGame}}></span>
            <h2>Titulo:</h2>
            <input type="text"  placeholder={{titulo}} readonly/><br>
            <h2>Compañia:</h2>
            <input type="text"  placeholder={{compania}} readonly/><br>
            <h2>Valoracion Media:</h2>
            <input type="text"  placeholder={{vMedia}} readonly/>
            <h2>Id:</h2>
            <input type="text"  placeholder={{id}} readonly/><br>
            
</div>
    
</body>

