<body>
    <div id="subHeader1" (click)="inicio()">
          <h2>INICIO </h2>
    </div>
    <div id="subHeader2">
          <h2>CONTACTO</h2>
    </div>
    <div id="subHeader3" (click)="sobreNosotros()">
          <h2>SOBRE NOSOTROS</h2>
    </div>
    <div id="subHeader4">
          <h2>Usuario: {{userEmail}} </h2>
    </div>
       

    <div id=divLogin>
        <h1>CONTACTO</h1>
        <P>Al no ser una empresa real no puede contactar con nosotros. Si algún día operamos en su zona le avisaremos.</P>
</div>>

  
</body>

