<body>
    <div id="subHeader1" (click)="inicio()">
          <h2>INICIO </h2>
    </div>
    <div id="subHeader2" (click)="contacto()">
          <h2>CONTACTO</h2>
    </div>
    <div id="subHeader3">
          <h2>SOBRE NOSOTROS</h2>
    </div>
    <div id="subHeader4">
          <h2>Usuario: {{userEmail}} </h2>
    </div>
       

    <div id=divLogin>
        <h1>SOBRE NOSOTROS</h1>
        <P>El equipo de juegosjuegos está formado por personas creativas – diseñadores de juegos, 2D artistas, desarrolladores de juegos y líderes de equipo que trabajan incansablemente para ayudar al equipo a escalar, crecer y triunfar. Nuestros compañeros son apasionados y dedicados y aportan energía, ideas y orgullo a su trabajo. Nos preocupamos unos de otros, nuestros usuarios, y expandimos nuestros horizontes. Es por eso que hemos creado un ambiente de trabajo agradable lleno de entusiasmo que permite a todos expresar su verdadero potencial. Crear Midva juegos es estimulante y agradable.</P>
</div>>

  
</body>

