<div class="partedcha">
    <br>
    <img src=".\assets\IMG-3915.jpg" alt="" width="302" height="403" />

    <h5>Contacto</h5>
    <ul>
        <li>Madrid</li>
        <li>685384095</li>
        <li>a.oliva.alegre@gmail.com</li>
        <li><a href="linkedin.com/in/andrésoliva-alegre-406743225">Linkedin</a></li>
    </ul>
    <h5>Informática</h5>
    <ul>
        <li><b>Lenguajes de programación:</b><br> C, C++, Java, C#, SQL, HTML.</li>
        <li><b>Estructuras/Sistemas:</b><br> Visual Studio, Team Foundation Server, IntelliJ, MySQL, Metodologías Ágiles, GitHub.</li>
    </ul>
    <h5>Idiomas</h5>
    <ul>
        <li>Español -> Nativo</li>
        <li>Inglés -> Nivel B2</li>
    </ul>
</div>