

  #divMain {
    width: 100%;
    justify-content: center;
  }

  #divJuegos {
    background-color:rgb(194, 235, 196);
    cursor:pointer;
  }

  #fotoGame{
    height:50px;
    width: 50px;
    margin-top: 1%;
    background-color:rgb(194, 235, 196);
  }
  #subHeader1{
		cursor:pointer;
		width: 100%;
		display: flex;
		flex-direction: row;
		height:35px;
		background-color: rgb(99, 223, 120);
		justify-content: center;
}

#subHeader2{
		cursor:pointer;
		width: 100%;
		display: flex;
		flex-direction: row;
		height:35px;
		background-color: rgb(73, 219, 97);
		justify-content: center;
	  }

	  #subHeader3{
		cursor:pointer;
		width: 100%;
		display: flex;
		flex-direction: row;
		height:35px;
		background-color: rgb(70, 197, 98);
		justify-content: center;
	  }

	  #subHeader4{
		cursor:pointer;
		width: 100%;
		display: flex;
		flex-direction: row;
		height:35px;
		background-color: rgb(36, 192, 77);
		justify-content: center;
	  }
  
