{{crearyrellenar()}}

<h1>Datos del club:</h1>
<h2>Nombre: {{getNombre()}}</h2>
<h2>ID: {{getId()}}</h2>
<h2>Año de fundación: {{getFundacion()}}</h2>
<h1>_____________________________________________</h1>
<br>
<h1>Jugadores:</h1>
<h2>_____________________________________________</h2>
<h2>Nombre: {{getJugadores()[0].getNombre()}}</h2>
<h2>Pais: {{getJugadores()[0].getPais()}}</h2>
<h2>Historial:</h2>
<h3>Goles: {{getJugadores()[0].getHistorial().getGoles()}}</h3>
<h3>Amarillas: {{getJugadores()[0].getHistorial().getAmarillas()}}</h3>
<h3>Rojas: {{getJugadores()[0].getHistorial().getRojas()}}</h3>
<h2>_____________________________________________</h2>
<h2>Nombre: {{getJugadores()[1].getNombre()}}</h2>
<h2>Pais: {{getJugadores()[1].getPais()}}</h2>
<h2>Historial:</h2>
<h3>Goles: {{getJugadores()[1].getHistorial().getGoles()}}</h3>
<h3>Amarillas: {{getJugadores()[1].getHistorial().getAmarillas()}}</h3>
<h3>Rojas: {{getJugadores()[1].getHistorial().getRojas()}}</h3>
<h2>_____________________________________________</h2>
<h2>Nombre: {{getJugadores()[3].getNombre()}}</h2>
<h2>Pais: {{getJugadores()[3].getPais()}}</h2>
<h2>Historial:</h2>
<h3>Goles: {{getJugadores()[3].getHistorial().getGoles()}}</h3>
<h3>Amarillas: {{getJugadores()[3].getHistorial().getAmarillas()}}</h3>
<h3>Rojas: {{getJugadores()[3].getHistorial().getRojas()}}</h3>
<h2>_____________________________________________</h2>
<h2>Nombre: {{getJugadores()[4].getNombre()}}</h2>
<h2>Pais: {{getJugadores()[4].getPais()}}</h2>
<h2>Historial:</h2>
<h3>Goles: {{getJugadores()[4].getHistorial().getGoles()}}</h3>
<h3>Amarillas: {{getJugadores()[4].getHistorial().getAmarillas()}}</h3>
<h3>Rojas: {{getJugadores()[4].getHistorial().getRojas()}}</h3>
<h2>_____________________________________________</h2>
<p>continuará...</p>
